
.hidden {
  display: none;
}

.text--center {
  text-align: center;
}

.md-form:focus {
  box-shadow: 0 1px 0 0 rgb(243, 113, 62) !important;
  border-bottom: 1px solid rgb(243, 113, 62) !important;
  color: black !important;
}

.md-form label.active {
  color: black !important;
}

.md-form label {
  color: rgb(73, 73, 73) !important;
}
