@import '../theme/variables.scss' ;
ion-card-title{
    font-size: 1.5rem;
}
.title-secondry{
    color: var(--ion-color-secondary);
}
ion-card {
    height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 4%;
    max-height: 100%;
    overflow: scroll;
}

modal-wrapper {
    -webkit-transform: translate3d(0, 40px, 0);
    height: 20%;
    transform: translate3d(0, 40px, 0);
    opacity: 0.01;
}
.uploadphoto {
    height: 60%;
    width: 60%;
    margin-left: 20%;
    margin-right: auto;
  }